/* Tic Tac Toe game.css .*/
 

.center-container {

    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid rgba(23, 92, 132, 0.906);
    padding: 0px;
    width: 160px;
    height: 160px;
    filter: contrast(3);
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

h2 {
     text-align: center;
  }
